# Archivos sensibles
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Node/npm si usas algo de frontend
node_modules/
